{% extends 'base.html.twig' %}

{% block title %}SymphBlog Posts{% endblock %}

{% block body %}
  <h1>Posts</h1>
 {% if posts %}
    <table id="posts" class="table table-striped">
      <thead>
        <tr>
          <th>Post title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td>{{ post.title }}</td>
            <td>
              <a href="post/{{post.id}}" class="btn btn-dark">Show</a>
              <a href="post/edit/{{post.id}}" class="btn btn-success">Edit</a>
              <a href="#" class="btn btn-danger delete-post" data-id="{{post.id}}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

 {% else %}
    <p>No posts to display!</p>
 {% endif %}
{% endblock %}

{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
  <script src="{{ url('article_list') }}/js/main.js"></script>
{% endblock %}
